<html>
    <head>
        <title>Mi blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mi blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Probando, 1, 2, 3</p>
        </div>
        <br />
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Blablablabla.</p>
            <ul><li>primer elemento</li><li>segundo elemento</li></ul>
        </div>
    </body>
</html>